@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');



:root {
    --cor-de-fundo: #fdcbf1;
    --rosa: #f10e6d;
    --rosa-escuro: #c93a92c9;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58,55,94,0.5);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--rosa-escuro);
    font-family: 'Cormorant';
}

.botao{
    font-family: 'Cormorant';
    background-color: var(--botao-inativo);
    color: var(--rosa-escuro);
    font-size: 18px;
    padding: 1em;
}

.titulo-principal{
    font-size: 32px;
}
